{% extends "base.html" %}

{% block titulo %} Lista de Mangas {% endblock %} 

{% block contenido %}
<div class="container">
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://i2.mtcdn.xyz/chapters/one-piece/1/1a02f363ff5485c5568235c508d8d53d94350a03.webp" class="d-block w-100" alt="..." >
      </div>
      <div class="carousel-item">s
        <img src="https://i2.mtcdn.xyz/chapters/one-piece/1/60efacee9f9b00fd8834d4a05ea4dac02799e79a.webp" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://i2.mtcdn.xyz/chapters/one-piece/1/6b9f891449e036efa61e1ad1d2d76ccc14620d4d.webp" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://i2.mtcdn.xyz/chapters/one-piece/1/01235c08053249947f7cb3e301bbe0cef03c3167.webp" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div> 
{% endblock %}
