{% extends "base.html" %}

{% block titulo %} Lista de Mangas {% endblock %} 

{% block contenido %} 



<div class="container border">
<div class="row">
    <div class="col-md-3">
        <div class="card" style="background-color:black;">
            <img class="card-img-top" src="https://images.justwatch.com/poster/248497985/s718/one-piece-1999.%7Bformat%7D" alt="Title"
            width="400"
            height="320">
            <div class="card-body" >
                <h5 class="card-title text-center text-light">ONE PIECE</h5>
                <p class="card-text">
                    <div class="d-grid gap-2">
                        <a name="" id="" class="btn btn-outline-light" href="{% url 'Leer' %}" role="button">Leer</a>
                      </div>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="background-color: black;">
            <img class="card-img-top" src="https://es.web.img2.acsta.net/pictures/13/12/13/08/50/378271.jpg" alt="Title"
            width="400"
            height="320">
            <div class="card-body">
                <h5 class="card-title text-center text-light">NARUTO SHIPPUDEN</h5>
                <p class="card-text">
                    <div class="d-grid gap-2">
                        <a name="" id="" class="btn btn-outline-warning" href="#" role="button">Leer</a>
                      </div>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="background-color:black">
            <img class="card-img-top" src="https://img1.ak.crunchyroll.com/i/spire3/501db6b69ced79e79a556b20cbdb9c5d1609784936_main.jpg" alt="Title"
            width="400"
            height="320">
            <div class="card-body">
                <h5 class="card-title text-center text-light">BLACK CLOVER</h5>
                <p class="card-text">
                    <div class="d-grid gap-2">
                        <a name="" id="" class="btn btn-outline-success" href="#" role="button">Leer</a>
                      </div>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="background-color:black">
            <img class="card-img-top" src="https://img1.ak.crunchyroll.com/i/spire4/406916ead6c45d4ceb9eb7c4d018da611626348574_main.jpg" alt="Title"
            width="400"
            height="320">
            <div class="card-body">
                <h5 class="card-title text-center text-light">MY HERO ACADEMIA</h5>
                <p class="card-text">
                    <div class="d-grid gap-2">
                        <a name="" id="" class="btn btn-outline-danger" href="#" role="button">Leer</a>
                      </div>
                </p>
            </div>
        </div>
    </div>

</div>




<div class="row">
    <div class="col-md-3">
        <div class="card" style="background-color:black;">
            <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/81zijlool9L.jpg" alt="Title"
            width="400"
            height="320">
            <div class="card-body">
                <h5 class="card-title text-center text-light">CHAINSAW MAN</h5>
                <p class="card-text">
                    <div class="d-grid gap-2">
                        <a name="" id="" class="btn btn-outline-primary" href="{% url 'Leer' %}" role="button">Leer</a>
                      </div>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="background-color:black">
            <img class="card-img-top" src="https://static.wikia.nocookie.net/doblaje/images/1/1a/Dragon_Ball_Super_.jpg/revision/latest/top-crop/width/360/height/450?cb=20170805194253&path-prefix=es" alt="Title"
            width="400"
            height="320">
            <div class="card-body">
                <h5 class="card-title text-center text-light">DRAGON BALL SUPER</h5>
                <p class="card-text">
                    <div class="d-grid gap-2">
                        <a name="" id="" class="btn btn-outline-warning" href="#" role="button">Leer</a>
                      </div>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="background-color:black">
            <img class="card-img-top" src="https://static.wikia.nocookie.net/jujutsu-kaisen/images/f/f6/JJK_New_Key_Visual.jpg/revision/latest?cb=20200914020414&path-prefix=es" alt="Title"
            width="400"
            height="320">
            <div class="card-body">
                <h5 class="card-title text-center text-light">JUJUTSU KAISEN</h5>
                <p class="card-text">
                    <div class="d-grid gap-2">
                        <a name="" id="" class="btn btn-outline-success" href="#" role="button">Leer</a>
                      </div>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="background-color:black" >
            <img class="card-img-top" src="https://static.wikia.nocookie.net/onepunchman/images/9/9a/One_Punch_Man_Anime.jpg/revision/latest?cb=20180920165609&path-prefix=es" alt="Title"
            width="400"
            height="320">
            <div class="card-body">
                <h5 class="card-title text-center text-light">ONE PUNCH MAN</h5>
                <p class="card-text">
                    <div class="d-grid gap-2">
                        <a name="" id="" class="btn btn-outline-danger" href="#" role="button">Leer</a>
                      </div>
                </p>
            </div>
        </div>
    </div>

</div>
</div>
{% endblock %}

